
<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<body>

	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui text container">
			<h1 id="inverted header ">My Nature Pet</h1>
			<h2>Plan a tree and save the environment</h2>
			<button class="ui huge primary button" onclick="window.open('../views/instruction.html')">Read Instruction
				<i class="right arrow icon"></i>
			</button>
		</div>
	</div>
	<div class="ui grid container">
		<div class="two column row">
			<div class="column">
				<img class="ui big rounded image" src="../res/pexels-photo-593655.jpeg">
			</div>
			<div class="column">
				<h1>ROSES</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitatim.</p>
				<button class="ui big red basic button" onclick="window.open('../views/rose.html')">Play as ROSE</button>
			</div>
		</div>
	</div>

	<div class="ui grid container">
		<div class="two column row">
			<div class="column">
				<img class="ui big rounded image" src="../res/nature-sky-twilight-grass-9198.jpg">
			</div>
			<div class="column">
				<h1>TREE</h1>
				<p>Treat with extra care</p>
				<button class="ui big green basic button" onclick="window.open('../views/tree.html')">Play as TREE (main pet)</button>
			</div>
		</div>
	</div>


<div class="ui grid container">
		<div class="two column row">
			<div class="column">
				<img class="ui big rounded image" src="../res/sunflower-blossom-bloom-flowers-54267.jpeg">
			</div>
			<div class="column">
				<h1>SUNFLOWER</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitatim.</p>
				<button class="ui big yellow basic button" onclick="window.open('../views/sunflower.html')">Play as SUNFLOWER</button>
			</div>
		</div>
	</div>



</body>
<script
src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/homepage.css">
</html>
